{% extends "base.html" %}

{% block title%}Home plugs - control page{% endblock %}

{% block content %}
	<h1>Home plugs - control page</h1>
	<p>
		This is my basic home plugs control page!
	</p>
	<form method="post">
	<p>
		<h2>Switch ON:</h2>
		1.  <input type="checkbox" name="plug1" value="Plug1ON"> Plug 1 - Anaya's Light<br>
		2.  <input type="checkbox" name="plug4" value="Plug4ON"> Plug 4 - Xmas Light<br>
		3.  <input type="checkbox" name="plug3" value="Plug3ON"> Plug 3 - Zavi's Light<br>
		4.  <input type="checkbox" name="plug2" value="Plug4ON"> Plug 2 - Coffee<br>
		5.  <input type="checkbox" name="plug5" value="Plug5ON"> Plug 5 - Amplifier<br>
		<br>
		<h2>Switch OFF:</h2>
		1.  <input type="checkbox" name="plug1" value="Plug1OFF"> Plug 1 - Anaya's Light<br>
		2.  <input type="checkbox" name="plug4" value="Plug4OFF"> Plug 4 - Xmas Light<br>
		3.  <input type="checkbox" name="plug3" value="Plug3OFF"> Plug 3 - Zavi's Light<br>
		4.  <input type="checkbox" name="plug2" value="Plug4OFF"> Plug 2 - Coffee<br>
		5.  <input type="checkbox" name="plug5" value="Plug5OFF"> Plug 5 - Amplifier<br>
		<br>
		<br>
		<button type="submit">Do it!</button>
	</p>
	</form>
{% endblock %}